{% extends "base.twig" %}

{% block content %}
	<section class="hero-home" style="background-image: url('{{ theme.link }}/src/images/hero-moto.jpg')">
		<div class="container h-100">
			<div class="hero-home__content text-right">
				<div class="hero-home__content-preline">Honda</div>
				<div class="hero-home__content-headline">CB600SF</div>
				<div class="hero-home__content-subline">2020</div>
				<div class="hero-home__content-cta">
					<button class="btn btn-secondary btn-lg">Comprar Rifa</button>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
